<div class="add_form">
    <form>  
        <div class="form-group">  
            <label>Name:</label>  
            <input type="text" name="name" class="form-control" value="Кусь" required="">  
        </div>  
            
        <div class="form-group">  
            <label>description:</label>  
            <input type="text" name="description" class="form-control" value="123" required="">  
        </div>  
    
        <div class="form-group">  
            <label>Class type:</label>  
            <input type="text" name="class_type" class="form-control" value="А" maxlength="1" required="">  
        </div>  
    
        <div class="form-group">  
            <label>gender:</label>  
            <select id="gender" name="gender" class="form-control">
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
            </select> 
        </div>  
    
        <div class="form-group">  
            <label>available:</label>  
            <select id="available" name="available" class="form-control">
                <option value="available" selected>available</option>
                <option value="not_available">Not available</option>
            </select>
        </div>  
    
        <div class="form-group">  
            <label>color:</label>  
            <input type="text" name="color" class="form-control" value="123" required="">  
        </div>   
            
        <div class="form-group">  
            <label for="birthday">birthday:</label>
            <input type="date" id="birthday" name="birthday" required="">
        </div>   
    
        <!-- TODO: <div class="form-group">  
            <label>images:</label>  
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
        </div>    -->
    
        <button type="submit" class="btn btn-success save-btn">Save</button>

    </form>


</div>