<section class="header">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark nav-bg">
        <div class="container-fluid lead">
        <a class="navbar-brand" href="/">Кусь</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Инфо</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Питомцы
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item " href="/cats">Коты</a></li>
                <li><a class="dropdown-item "  href="/kitty">Котята</a></li>
                <li><a class="dropdown-item " href="/boys">Мальчики</a></li>
                <li><a class="dropdown-item " href="/girls">Девочки</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Галерея</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/care">Уход</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Локализация
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">UA</a></li>
                <li><a class="dropdown-item" href="#">EN</a></li>
                </ul>
            </li>
            </ul>
            
        </div>
        <form class="container-fluid d-none d-lg-block">
            <button class="btn btn-sm btn-outline-light " id="navbar_login_button" type="button">Войти</button>
            <button class="btn btn-sm btn-outline-light " id="navbar_register_button" type="button">Регистрация</button>
        </form>
        </div>
        
    </nav>
    </div>
</section>