{% extends 'base.html' %}
 
{% block body %}
<section class="header">
  <div class="container">
  
  <div class="container py-5 text-light">
      <div class="row mb-4 align-items-center flex-lg-row-reverse">
          <div class="col-md-6 col-xl-7 mb-4 mb-lg-0 ">
              
              <div class="lc-block position-relative">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                      <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      </div>
                      <div class="carousel-inner">
                          <div class="carousel-item active ">
                          <img src="{{ url_for('static', filename='images/BlDnuSp.jpeg') }}" class="d-block w-100 img-fluid rounded shadow" alt="...">
                          </div>
                          <div class="carousel-item">
                          <img src="{{ url_for('static', filename='images/BlDnuSp.jpeg') }}" class="d-block w-100 img-fluid rounded shadow" alt="...">
                          </div>
                          <div class="carousel-item">
                          <img src="{{ url_for('static', filename='images/BlDnuSp.jpeg') }}" class="d-block w-100 img-fluid rounded shadow" alt="...">
                          </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                      </div>
              </div>
          </div>
          <div class="col-md-6 col-xl-5">
              <div class="lc-block mb-3">
                  <div editable="rich">
                      <h1 class="fw-bolder display-3">Найдите себе нового компаньона</h1>
                  </div>
              </div>
              
              <div class="lc-block mb-4">
                  <div editable="rich">
                      <p class="lead"> Соединяем замечательных людей со счастливым и здоровым котенком. </p>
                  </div>
  
                      <button class="button-strt" role="button">Начать <i class="arrow right"></i></button>
                      
                      <a class="navbar-brand px-3" href="#">
                      <img src="{{ url_for('static', filename='images/QJUZoK6.png') }}" height="40" viewBox="0 0 16 16"
                          loading="lazy" />
                          <a class ="text-light text-decoration-none" href ="#">Посмотреть котят</a>  
                      </a>
                  
                  </div>
  
              </div>
          
          </div><!-- /col -->
      </div>
  </div>
  
  </div>
  </section>
  
  <section class="about">
      <div class="container padding-lr">
          <div class = "d-none d-lg-block">
          <div class = "row">
              <div class ="col-9">
              <div class="about-header">
                  <h1 class = "text-center">Котята для приема</h1>
              </div>
              </div>
              <div class = "col-3">
              <a href="#" class="btn btn-lg button-strt-3">Посмотреть всех котят <i class="arrow right"></i></a>
              </div>
  
          </div>
          
              <div class ="row">
              <div class ="col-9">
                  <div class="badge bg-light text-wrap container-fluid slogan-content align-items-center">
                  <p class="slogan-text">Кусь соединяет таких милых людей, как вы, со счастливыми, здоровыми котятами благодаря нашим уважаемым и выдающимся отношениям с заводчиками, которые мы установили за последние 5 лет.</p>
                  </div>
                  
              </div>
              
              </div>
          </div>
          <div class = "d-lg-none">
          <div class = "row">
              <div class ="col">
              <div class="about-header">
                  <h1 class = "text-center">Котята для приема</h1>
              </div>
              </div>
              
  
          </div>
          <div class = "row">
              <div class = "col text-center">
              <a href="#" class="btn button-strt-3">Посмотреть всех котят <i class="arrow right"></i></a>
              </div>
              
          </div>
              <div class ="row">
              <div class ="col">
                  <div class="badge bg-light text-wrap container-fluid slogan-content align-items-center">
                  <p class="slogan-text">Кусь соединяет таких милых людей, как вы, со счастливыми, здоровыми котятами благодаря нашим уважаемым и выдающимся отношениям с заводчиками, которые мы установили за последние 5 лет.</p>
                  </div>
                  
              </div>
              
              </div>
          </div>
          
          <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-lg-4 d-flex align-items-stretch">
              <div class="card card-cyan text-center">
              <img src="{{ url_for('static', filename='images/QJUZoK6.png') }}" class="card-img-top" alt="...">
              
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Кот 1</h5>
                  
                  <p class="card-text">Инфа 1.</p>
                  <a href="#" class="btn button-strt-2 mt-auto button-card-r">Перейти <i class="arrow right"></i></a>
              </div>
              </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch">
              <div class="card card-indigo text-center">
              <img src="{{ url_for('static', filename='images/QJUZoK6.png') }}" class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Кот 2</h5>
                  <p class="card-text">Инфа 2.</p>
                  <a href="#" class="btn button-strt mt-auto button-card-r">Перейти <i class="arrow right"></i></a>
              </div>
              </div>
          </div>
          <div class="col-lg-4 d-flex align-items-stretch">
              <div class="card card-cyan text-center">
              <img src="{{ url_for('static', filename='images/QJUZoK6.png') }}" class="card-img-top" alt="...">
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Кот 3</h5>
                  <p class="card-text">Инфа 3.</p>
                  <a href="#" class="btn btn-lg button-strt-2 mt-auto button-card-r">Перейти <i class="arrow right"></i></a>
              </div>
              </div>
          </div>
          
          </div>
      </div>
  </section>
  
  <section class="slogan">
      <div class="container padding-lg">
          <div class="about-header">
          <h1 class = "text-center">Готовы ли вы?</h1>
      </div>
          <div class = "row">
          <div class = "col-6">
              <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Совет 1 
                  </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                      Зная сколько внимания вы можете уделить пушистому другу поможет определиться готовы ли вы завести своего. Также это поможет определиться, какая порода подойдёт лучше для вас. "Если вы слишком заняты, либо недостаточно часто находитись дома - вам не следует заводить котёнка."
                  </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Accordion Item #2
                  </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                  </div>
              </div>
              <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Accordion Item #3
                  </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                  </div>
                  </div>
              </div>
              </div>
          </div>
          <div class = "col-6">
              <a href = "{{ url_for('static', filename='images/fNgLGCe.png') }}" data-toggle="lightbox">
              <img src="{{ url_for('static', filename='images/fNgLGCe.png') }}" class="d-block w-100 img-fluid rounded shadow" alt="..."/>
              </a>
              
          </div>
          </div>
          
      </div>
  </section>
  <section>
      <div class ="py-3 mb-3">
      <div class ="container">
          <div class="about-header">
          <h1 class = "text-center">Почему именно мы?</h1>
          </div>
          <div class ="row">
          <div class = "col slogan-content">
              <p class = "slogan-text"> Более 5-ти лет мы делаем... </p>
          </div>
          </div>
          <div class ="lightbox">
          <div class = "row">
              <div class ="col slogan-content">
              <a href = "{{ url_for('static', filename='images/B7CzA6o.jpg') }}" data-toggle="lightbox">
                  <img class="rounded-circle shadow-4-strong d-block w-100 img-fluid rounded shadow" alt="avatar1" src="{{ url_for('static', filename='images/B7CzA6o.jpg') }}" />
              </a>
              
              <h2 class = "text-center">Гарантия здоровья</h2>
              <p class ="slogan-bottom text-center">Мы осознаём важность иметь счастливого и здорового питомца.</p>
              <a href="#" class="btn btn-lg button-strt-2 mt-auto button-card-r"><i class="arrow right"></i></a>
              </div>
              <div class ="col slogan-content">
              <a href = "{{ url_for('static', filename='images/B7CzA6o.jpg') }}" data-toggle="lightbox">
                  <img class="rounded-circle shadow-4-strong d-block w-100 img-fluid rounded shadow" alt="avatar1" src="{{ url_for('static', filename='images/B7CzA6o.jpg') }}" />
              </a>
              <h2 class = "text-center h2">Расстояние не важно</h2>
              <p class ="slogan-bottom text-center">Расстояние не важно, сделаем всё что в наших силах.</p>
              <a href="#" class="btn btn-lg button-strt-2 mt-auto button-card-r"><i class="arrow right"></i></a>
              </div>
              <div class ="col slogan-content">
              <a href = "https://i.imgur.com/B7CzA6o.jpg" data-toggle="lightbox">
                  <img class="rounded-circle shadow-4-strong d-block w-100 img-fluid rounded shadow" alt="avatar1" src="{{ url_for('static', filename='images/B7CzA6o.jpg') }}" />
              </a>
              <h2 class = "text-center h2">Дополнительные аксессуары</h2>
              <p class ="slogan-bottom text-center"> Высылается любимая игрушка в подарок.</p>
              <a href="#" class="btn btn-lg button-strt-2 mt-auto button-card-r"><i class="arrow right"></i></a>
              </div>
          </div>
        </div>
    </div>
  </div>
</section> 
{% endblock %}